.fixedsection{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    color: white;

    .fixedleft{
        position: absolute;
        bottom:-22px;
        left: 0px;
        iframe{
            width:20vw;
            min-width: 200px;
        }

        
    }

    .fixedleftScroll{
        position: absolute;
        bottom: -1000px;
        left: 40px;
        span{
            letter-spacing: 10px;
            font-size: 20px;
            font-family: Mukta;
            writing-mode: vertical-lr;
        }
        transition: 0.8s;
    }
}