@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Fira+Sans:wght@400;900&family=Major+Mono+Display&family=Mingzat&family=Mukta:wght@200&family=The+Nautigal&display=swap');

.bodyy{
    display: flex;
    flex-direction: column;

}

.aboutme{

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .cuadrado{
        h1{
            font-size: 70px;
            font-family: Mukta;
            color: white;
        }
        h2{
            font-size: 30px;
            font-family: Mukta;
            color: white;
            text-align: center;
        }
    }
}

.timeline{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    background-color: #433e7200;

    justify-content: center;




    .numerador{
        
        display: flex;
        position: absolute;
        left: 0;

        .barr{
            letter-spacing: -10px;
            font-size: 50px;
            color: rgb(255, 255, 255);
            margin-right: 15px;
        }
        .numbarr{
            font-size: 50px;
            color: rgb(255, 255, 255);
            margin-right: 15px;
        }
    }

    .infor{
        width: 1050px;
        display: flex;
        margin: 0 150px;
        justify-content: space-between;
        

        .titleinfo{
            font-size: 30px;
            color: rgb(255, 255, 255);
            font-family: 'Mingzat', sans-serif;
            padding: 0;
            font-weight: 800;

        }
    
        .info{
            color: white;
            width: 400px;
            display: flex;
            flex-direction: column;
            font-family: Mukta;

            span{
                margin-top: 15px;
            }
            h1{
                font-size: 30px;
            }
        }

    }

}

.timeline2{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    background-color: #13103000;
    justify-content: center;
    margin-top: 300px;

    .numerador{
        
        display: flex;
        position: absolute;
        left: 0;

        .barr{
            letter-spacing: -10px;
            font-size: 50px;
            color: rgb(255, 255, 255);
            margin-right: 15px;
        }
        .numbarr{
            font-size: 50px;
            color: rgb(255, 255, 255);
            margin-right: 15px;
        }
    }

    .infor{
        width: 1050px;
        display: flex;
        flex-direction: column;
        margin: 0 150px;
        justify-content: space-between;

        .titleinfo{
            font-size: 30px;
            color: rgb(255, 255, 255);
            font-family: 'Mingzat', sans-serif;
            padding: 0;
            font-weight: 800;

        }
    
        .info{
            color: white;

            display: flex;
            font-family: Mukta;

            span{
                margin-top: 15px;
            }
            h1{
                font-size: 30px;
            }
        }

    }
}

@media screen and (max-width: 900px){
    .timeline{
        .infor{
            flex-direction: column;
            align-items: center;
            justify-content: start;
            
        }
    }

}
@media screen and (max-width: 490px){
    .timeline{
        .numerador{
            .barr{
                font-size: 10vw;
            }
            .numbarr{
                font-size: 10vw;
            }
        }
        .infor{
            margin: 0;
            .titleinfo{
                font-size: 6vw;
            }
            .info{
                width: 100%;
                padding: 15px;
            }
        }


    }


}

