*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #131030;
}

::-webkit-scrollbar-thumb{
    width: 50px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}